.uploadForm {
    text-align: center;
    padding-top: 150px;
    font-size: large;
}

.submit {
    padding-left: 10px;
    padding-right: 10px;
}

.inputLabel {
    padding-right: 5px;
}

.url_input {
    margin: 5px
}